.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 1.17rem;
    padding: 0 0.53rem;
    background: #f5f5f5;
}
.goBack{
    height: 0.53rem;
    line-height: 0.53rem;
    position: absolute;
    top: 0.32rem;
    left: 0.53rem;
}
.goBack span{
    display: block;
    color: #999999;
    font-size: 0.53rem;
}
.header p{
    width: 100%;
    color: #000;
    font-size: 0.4rem;
    text-align: center;
}
.uli{
    padding-top: 1.16rem;
}
.mainFlex{
    display: flex;
    margin-top: 1rem;
}
.mainFlex>div{
    flex: 1;
    text-align: center;
    padding: 1rem 0;
}
.labelImg img{
    width: 2.18rem;
}
.name{
    line-height: 3rem;
}
.active{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}
.active .rightIcon{
    background: #00a950;
    width: 0.6rem;
    height: 0.6rem;
    margin: auto;
    margin-top: 0.4rem;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 0.24rem;
    line-height: 0.6rem;
}
.active .rightIcon:before{
    position: absolute;
    content: "\e624";
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    color: #fff;
}
.itemsBox .rightIcon{
    display: none;
}
.active .rightIcon{
    display: block;
}
