
body{
    background: #f5f5f5;
}
.recommend_items .name{
    font-size: 0.34rem;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 0.6rem;

}
.recommend_items .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.29rem;
    color: #70838f;
    height: 0.4rem;
}
.recommend_items .content{
    font-size: 0.28rem;
    line-height: 0.5rem;
    color: #70838f;
}
.recommend_items{
    /*display: flex;*/
}
.recommend_items .redbtn{
    margin-right: 0.24rem;
}
.redbtn{
    background: #ed5252;
    color: #ffffff;
    font-size: 0.26rem;
    display: inline-block;
    line-height: 0.4rem;
    height: 0.4rem;
    padding: 0 0.26rem;
    border-radius: 0.4rem;
}
.uli{
    padding: 0.32rem;
    background:#fff;
    margin-top:  0.12rem;
}
.imgUrl{
    overflow-x:scroll;
}
.imgUrl div{
    overflow: hidden;
    width: 1200px;
    margin: 0.18rem 0;
}
.imgUrl img{
    width: 2.26rem;
    height: 1.73rem;
    display: block;
    float: left;
    margin-right: 0.13rem;
}

.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 1.17rem;
    padding: 0 0.53rem;
    background: #f5f5f5;
    z-index: 1;
}
.filter{

}
.search_inp{
    background: #fff;
    flex: 1;
    height: 0.8rem;
    line-height: 0.8rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius:0.4rem;
    border-radius: 0.4rem;
    border: 1px solid #dcdcdc;
    display: flex;
    align-items: center;
    overflow: hidden;

    margin-left: 0.2rem;
}
.search_inp span{
    margin: 0 0.2rem;
}
.search_inp input{
    line-height: 0.8rem;
    border: none;
    flex: 1;
}
.goBack{
    height: 0.53rem;
    line-height: 0.53rem;
}
.searchIcon{
    height: 0.53rem;
    line-height: 0.53rem;
    width: 0.53rem;
    position: absolute;
    top: 0.32rem;
    right: 0.53rem;
    border: 1px dashed  #3699ff;
    background:  #dcf8ff;
}
.searchIcon span{
    display: block;
    color: #999999;
    font-size: 0.53rem;
}
.goBack span{
    display: block;
    color: #999999;
    font-size: 0.53rem;
}
.header p{
    width: 100%;
    color: #000;
    font-size: 0.4rem;
    text-align: center;
}

.filter{
    position: fixed;
    top: 1.17rem;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 0.45rem 0;
    z-index: 1;

    border-bottom: 1px solid #f5f5f5;
}
.filter div{
    flex: 1;
    font-size: 0.37rem;
    color: #222222;
    text-align: center;
}
.filter div span{
    color: #a7a7a7;
}
.boxItems{
    padding-top: 2.6rem;
}

.alertBtn{
    position: fixed;
    left: 0;
    right: 0;
    top: 2.5rem;

    background: #ffffff;
    z-index: 3;

}
.alertBtn p{
    background: #ffffff;
    line-height: 1.28rem;
    font-size: 0.29rem;
    border-top: 1px solid #f5f5f5;
    text-align: center;
}
.alertBtn .active{
    color: #000;
}
.moleDiv{
    position: fixed;
    top: 0rem;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    /*z-index: 1;*/
}
.alertBtn{
    background: #ffffff;
}
.alertBtn div{

}
