.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 1.17rem;
    padding: 0 0.53rem;
    background: #f5f5f5;
}
.goBack{
    height: 0.53rem;
    line-height: 0.53rem;
    position: absolute;
    top: 0.32rem;
    left: 0.53rem;
}
.goBack span{
    display: block;
    color: #999999;
    font-size: 0.53rem;
}
.header p{
    width: 100%;
    color: #000;
    font-size: 0.4rem;
    text-align: center;
}
body{
    background: #f5f5f5;
}
.uli{
    padding-top: 1.16rem;
}
.mainFlex{
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.42rem;
    font-size: 0.34rem;
}
.mainFlex:nth-of-type(1){
    position: relative;
}
.mainFlex:nth-of-type(1):after{
    position:absolute;
    content: '';
    bottom: 0;
    height: 1px;
    left: 0;
    right: 0;
    background: #f5f5f5;
}
.mainFlex input{
    border: none;
    text-align: right;
    height: 1.46rem;
    line-height: 1.46rem;
    font-size: 0.34rem;
}
.fixDiv{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1bb339;
    color: #ffffff;
    height: 1.3rem;
    font-size: 0.34rem;
    line-height: 1.3rem;
}
.fixDiv p{
    text-align: center;
}
